@using MVC_WebApp.Models;
@model MVC_WebApp.Models.RootModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>@ViewData["myString"] @ViewBag.user</h1>
    </div>
    <div class="row">
    <div id="intro" class="col-md" style="padding-right:25px">
        <div class="text-center">
            <h1>Tic Tac Toe</h1>
            <h3>Player 1: X        Player 2: O</h3>
            <div id="game">
                <div id="board">
                    <div class="row border border-primary board-rows" id="testthis" style="height:100px">
                        <div class="col-4 square border border-primary" id="0" onclick="clicked(0)"></div>
                        <div class="col-4 square border border-primary" id="1" onclick="clicked(1)"></div>
                        <div class="col-4 square border border-primary" id="2" onclick="clicked(2)"></div>
                    </div>
                    <div class="row border border-primary board-rows" style="height:100px">
                        <div class="col-4 square border border-primary" id="3" onclick="clicked(3)"></div>
                        <div class="col-4 square border border-primary" id="4" onclick="clicked(4)"></div>
                        <div class="col-4 square border border-primary" id="5" onclick="clicked(5)"></div>
                    </div>
                    <div class="row border border-primary board-rows" style="height:100px">
                        <div class="col-4 square border border-primary" id="6" onclick="clicked(6)"></div>
                        <div class="col-4 square border border-primary" id="7" onclick="clicked(7)"></div>
                        <div class="col-4 square border border-primary" id="8" onclick="clicked(8)"></div>
                    </div>
                </div>
                <div id="message"></div>
                <button id="reset" onclick="reset()">Reset</button>
            </div>
        </div>
    </div>
    <div id="API-Results" class="col-md text-center border border-dark bg-white">
        <form asp-action="Index" id="numJokesForm" class="mb-3">
            <div class="form-group" id="NumJokesSelect" style="width:200px; margin:auto;">
                <label class="control-label">Number of jokes (2-10)</label>
                <select name="numjokes" id="numjokes" class="form-control">
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                    <option value=6>6</option>
                    <option value=7>7</option>
                    <option value=8>8</option>
                    <option value=9>9</option>
                    <option value=10>10</option>
                </select>
                <br />
                <input type="submit" value="Submit" id="jokebutton" class="btn btn-primary" />
            </div>
        </form>

        @{

            int jokeCount = 0;
            foreach (JokeModel joke in Model)
            {
                jokeCount++;
                <h5 id="jokenumber">Joke @jokeCount</h5>


                if (joke.type == "single")
                {


                    <p class="jokes">@joke.joke</p>


                }
                else
                {


                    <p class="jokes"><strong>Setup: </strong>@joke.setup</p>
                    <p class="jokes"><strong>Punchline: </strong>@joke.delivery</p>

                }
            }

        }
    </div>
    </div>

    <div id="random-paragraphs" class="m-5">
        <h3 class="text-center">Randomly generated paragraphs</h3>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae arcu rhoncus, sollicitudin metus non, pellentesque massa. Fusce nunc metus, rutrum non auctor dictum, aliquet eget turpis. Donec non pulvinar ligula, viverra mollis nisi. Cras pharetra maximus tristique. Sed elementum eros non velit cursus rhoncus. Donec eu tortor aliquam, euismod diam non, tincidunt elit. In hendrerit tincidunt consectetur. Aenean vitae eleifend orci. Pellentesque accumsan urna nec magna semper, nec sagittis nisl ornare. Duis euismod ante est. Curabitur rhoncus quam eget aliquam ultricies. Quisque scelerisque, ante a aliquet pretium, purus neque gravida massa, laoreet dapibus est odio non nisl. Maecenas nulla erat, sollicitudin a dolor id, tristique rhoncus neque.
        </p>
        <p>
        Duis suscipit malesuada accumsan. In convallis erat eu nunc consectetur sollicitudin. Ut lobortis elit quam, sed laoreet purus dapibus ac. In et orci leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis id iaculis sapien, ac maximus elit. Nam ut suscipit sem, vel feugiat elit. Nam tempor, orci eget consectetur placerat, nibh nunc fringilla sapien, quis imperdiet neque nisi scelerisque lorem. Aenean malesuada nisl sit amet dictum convallis. Quisque ac suscipit velit.
        </p>
        <p>
            Praesent pretium consequat diam, sed venenatis odio cursus sed. Ut velit justo, eleifend non nulla non, commodo convallis erat. Proin dolor elit, dapibus eget sodales id, vehicula nec ipsum. Vestibulum et condimentum nisi. Duis pulvinar leo at leo accumsan, ut imperdiet nisi congue. Vestibulum et eros ullamcorper, bibendum tortor nec, tincidunt lectus. Quisque eget pulvinar est. Nam dapibus turpis sed lorem maximus venenatis. Proin aliquet commodo lectus.
        </p>
        <p>
            Maecenas sodales sagittis quam eget tempor. Morbi venenatis imperdiet nibh ut sagittis. Ut in nisi fringilla, aliquam odio vel, vehicula justo. Suspendisse cursus odio nisl, id accumsan nulla interdum ac. Sed ornare gravida ultricies. Pellentesque accumsan sit amet erat id efficitur. Integer bibendum, leo ut porta lacinia, lacus metus lobortis felis, ac egestas metus lorem hendrerit tortor. Proin eleifend elit at erat dapibus sodales id vel sapien. Nulla facilisi.
        </p>
        <p>
            In sit amet fermentum leo, ut facilisis purus. Nam at venenatis ipsum, et rutrum magna. Nunc tincidunt feugiat fermentum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum ante velit, finibus a nibh id, iaculis mollis orci. Integer sagittis efficitur tellus, a molestie elit sollicitudin viverra. Etiam consequat, turpis in tincidunt finibus, libero orci auctor mi, nec posuere libero nisl id lorem. Praesent mi diam, posuere vitae mauris vitae, faucibus pharetra libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam non diam augue. Praesent accumsan lectus at turpis convallis, nec egestas odio mollis. Nunc ut libero orci. Nulla ut elit ut justo gravida commodo at et sem.
        </p>
    </div>


       @section MetaTags
    {
    <!-- edit below to update meta data -->
        <meta name="description" content="" />
        <meta name="keywords" content="" />
    }
@section Scripts{
    <script>


        var player = 1;
        var moves = 0;
        var board = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
        var win = false;
        var winCombos = [[0, 1, 2], [3, 4, 5], [6, 7, 8],
        [0, 3, 6], [1, 4, 7], [2, 5, 8],
        [0, 4, 8], [6, 4, 2]];
        //play the game
        function clicked(id) {

            if (win) {
                return;
            }
            if (board[id] === 0) {
                if (player === 1) {
                    document.getElementById(id).innerHTML = "X";
                    board[id] = 1;
                    player = 2;
                } else {
                    document.getElementById(id).innerHTML = "O";
                    board[id] = 2;
                    player = 1;
                }
                moves++;
                checkWin();
                if (win) {
                    return;
                }

            }
        }
        //check for a winner
        function checkWin() {
            for (let i = 0; i < winCombos.length; i++) {
                if (board[winCombos[i][0]] === board[winCombos[i][1]] && board[winCombos[i][1]] === board[winCombos[i][2]] && board[winCombos[i][0]] !== 0) {
                    win = true;
                    document.getElementById("message").innerHTML = "Player " + board[winCombos[i][0]] + " wins!";
                }
            }
            if (moves === 9 && !win) {
                document.getElementById("message").innerHTML = "It's a tie!";
            }
        }
        //reset the game
        function reset() {
            player = 1;
            moves = 0;
            board = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
            win = false;
            document.getElementById("message").innerHTML = "";
            for (let i = 0; i < 10; i++) {
                document.getElementById(i).innerHTML = "";
            }

        }


    </script>
    }




