@using MVC_WebApp.Models;
@model MVC_WebApp.Models.RootModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>@ViewData["myString"] @ViewBag.user</h1>
    </div>
    <div class="container-fluid">
    <div class="row">
    <div id="intro" class="col-md-4">
    <p>This site allows me to experiment with ASP.Net, exploring both API usage and Identity services. 
        Some areas of the site are restricted to logged in users only. to access these areas you will need to register.</p>
        <p>I am currently working on improving my knowledge of CSS and Boostrap. Small changes to the sites design are likely.</p>
    </div>
    <div id="API-Results" class="col-md text-center">
        <form asp-action="Index" id="numJokesForm">
            <div class="form-group" id="NumJokesSelect">
                <label class="control-label">Number of jokes (2-10)</label>
                <select name="numjokes" id="numjokes" class="form-control">
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                    <option value=6>6</option>
                    <option value=7>7</option>
                    <option value=8>8</option>
                    <option value=9>9</option>
                    <option value=10>10</option>
                </select>
                <br />
                <input type="submit" value="Submit" id="jokebutton" class="btn btn-primary" />
            </div>
        </form>

        @{

            int jokeCount = 0;
            foreach (JokeModel joke in Model)
            {
                jokeCount++;
                <h5 id="jokenumber">Joke @jokeCount</h5>
                <p>@joke.type</p>


                if (joke.type == "single")
                {


                    <p class="jokes">@joke.joke</p>


                }
                else
                {


                    <p class="jokes">@joke.setup</p>
                    <p class="jokes">@joke.delivery</p>

                }
            }

        }
    </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-3 border border-success">
            <img src="favicon.ico" width="300px" height="300px" />
        </div>
        <div class="col-md-3 border border-primary">
            <img src="#" width="300px" height="300px" />
        </div>
        <div class="col-md-3 border border-warning">
            <img src="#" width="300px" height="300px" />
        </div>
        <div class="col-md-3 border border-white">
            <img src="#" width="300px" height="300px" />
        </div>
    </div>
    </div>



